target
Cargo.lock
.vscode
**/.gradle
**/build
**/*_templ.go
generated
tmp*
apps/**/swagger

apps/test
models/**/database/ent
.env
.smithy*
pkg/gen/*
packages/camp_*
apps/**/build
system_snapshot.json
config.toml
config.yaml
config.json
cmd/test
gentmp
**/node_modules
**/dist